.container {
  background-color: #3d3c3c;
  min-height: 100vh;
  color: white;
}

.cardContainer {
  display: flex;
  flex-direction: column;
 
}

.textContainer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 30px 0;

  & a {
    position: absolute;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  & h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; 
    padding: 15px;
}

.cardsGrid > * {
  flex: 1 1 120px; 
  max-width: 160px;
}
