.container {
  background-color: var(--color-gray-3);
  min-height: 100vh;
  height: 100%;
  color: var(--color-white);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-large);
}

.textContainer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 30px 0;

  & button {
    position: absolute;
    left: var(--padding-xlarge);
    background-color: transparent;
    color: var(--color-white);
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  & h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-large);
  justify-content: center;
  padding: 15px;
}

.cardsGrid > * {
  flex: 1 1 120px;
  max-width: 160px;
}

.backArrow {
  display: none;
}

@media (max-width: 645px) {
  .backText {
    display: none;
  }
  .backArrow {
    display: inline;
  }
}
