.container {
  background-color: #3d3c3c;
  min-height: 100vh;
  color: white;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 30px 0;

  & button {
    position: absolute;
    left: 20px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  & h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 15px;
}

.cardsGrid > * {
  flex: 1 1 120px;
  max-width: 160px;
}

.backText {
  display: inline;
}

.backArrow {
  display: none;
}

@media (max-width: 645px) {
  .backText {
    display: none;
  }
  .backArrow {
    display: inline;
  }
}
