.exerciseItem {
  margin-bottom: 1rem;
  padding: 0;
  padding-right: 5px;
  border-radius: 8px;
  background-color: var(--color-gray-1);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 60px;
  transition: background-color var(--transition-duration) ease;

  &:hover {
    background-color: var(--color-gray-2);
  }

  &:active {
    background-color: var(--color-gray-1);
  }
}

.exerciseLink {
  flex: 1;
  text-decoration: none;
  color: var(--color-white);
  padding: 1rem;
  display: block;
  font-size: 20px;
}

.exerciseContent {
  font-weight: bold;
}

.exerciseList {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 0;
}
