.exerciseItem {
  margin-bottom: 1rem;
  padding: 0;
  border-radius: 8px;
  background-color: #575656;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 5px;
  height: 60px;

  &:hover {
    background-color: #777777;
  }
}

.exerciseLink {
  flex: 1;
  text-decoration: none;
  color: white;
  padding: 1rem; 
  display: block;
  font-size: 20px;
}

.exerciseContent {
  font-weight: bold;
}

.exerciseList {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  margin: 0;
}
