.splitCard {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--border-radius);
  margin-bottom: var(--margin-large);
  padding: var(--padding-medium) var(--padding-large);
  width: 100%;
  height: 70px;
  background-color: var(--color-gray-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color var(--transition-duration) ease;

  & h3 {
    margin: 0;
    font-size: 24px;
  }

  &:hover {
    background-color: #555454;
  }
}

.buttonGroup {
  display: flex;
  gap: var(--margin-small);
}

.splitRender {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  min-width: 200px;
}
