.splitCard {
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 12px 16px;
  width: 100%;
  height: 70px;
  background-color: #3d3c3c;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h3 {
    margin: 0;
    font-size: 24px;
  }

  &:hover {
    background-color: #555454;
  }
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.splitRender {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  min-width: 200px;
}
