.card {
  height: 250px;
  width: 150px;
  padding: var(--padding-large);
  background: linear-gradient(
    145deg,
    var(--color-green),
    var(--color-dark-green)
  );
  background-size: 200% 200%;
  background-position: 0% 50%;
  color: var(--card-text-color);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: all var(--transition-duration) ease;


  &:hover {
    background-position: 100% 50%;
    box-shadow: 0 0 10px var(--color-green);
  }

  &:active {
    box-shadow: 0 2px 6px var(--color-green);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-green);
  }

  & h3 {
    margin: 0;
    color: var(--card-text-color);
  }
}

.card.empty {
  background: linear-gradient(145deg, var(--color-gray-1), var(--color-gray-3));
  background-size: 200% 200%;
  background-position: 0% 50%;
  border: 2px dashed var(--color-accent-green);
  color: var(--card-text-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: all var(--transition-duration) ease;

  & h3 {
    font-size: 20px;
    margin: 0;
    color: var(--color-yellowgreen);
  }

  &:hover {
    background-position: 100% 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-green);
  }

  &:active {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  & p {
    font-size: 20px;
  }
}
