.card {
  height: 250px;
  width: 150px;
  padding: var(--padding-large);
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--transition-duration) ease;

  &:hover {
    background-color: var(--card-hover-bg-color);
  }

  &:active {
    background-color: var(--card-bg-color);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-green);
  }

  & h3 {
    margin: 0;
    color: var(--card-text-color);
  }
}

.card.empty {
  background-color: var(--card-empty-bg-color);
  color: var(--card-text-color);
  transition: background-color var(--transition-duration) ease;

  & h3 {
    font-size: 24px;
    margin: 0;
    color: var(--color-yellowgreen);
  }

  &:hover {
    background-color: var(--card-empty-hover-bg-color);
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-green);
  }

  &:active {
    background-color: var(--card-empty-bg-color);
  }

  & p {
    font-size: 20px;
  }
}
