.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 250px;
  font-size: 18px;

  & h3 {
    margin: 0;
    padding: 0;
    align-self: center;
  }

  & button {
    background-color: var(--button-default-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 20px;

    &:hover {
      background-color: var(--button-default-hover-bg-color);
    }
  }

  & hr {
    width: 100%;
    border: 1px solid var(--color-white);
  }

  & a {
    text-decoration: none;
    color: var(--color-accent-green);

    &:hover {
      text-decoration: underline;
    }
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-gray);
  font-size: 16px;
}
.invalid {
  border-color: var(--error-color);
  outline: 2px solid var(--error-color);
}
.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 5px;
}
