.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 250px;
  font-size: 18px;

  & h3 {
    margin: 0;
    padding: 0;
    align-self: center;
  }

  & button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  & hr {
    width: 100%;
    border: 1px solid white;
  }

  & a {
    text-decoration: none;
    color: #a0f265;

    &:hover {
      text-decoration: underline;
    }
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.invalid {
  border-color: #ff5555;
  outline: 2px solid #ff5555;
}
.error {
  color: #ff5555;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 5px;
}
