.LoginContainer {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background-image: url("/gym.webp");
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  background-repeat: no-repeat;
}

.Splash {
  width: 50%;
  display: flex;
  min-height: 100vh;
  height: 100%;
  padding: var(--padding-small);
  box-sizing: border-box;
  background-color: rgba(40, 35, 35, 0.7);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Logo {
  margin-top: var(--margin-xlarge);
  height: auto;
  align-self: center;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .LoginContainer {
    flex-direction: column;
  }

  .Splash {
    width: 100%;
  }
}
