.container {
  display: flex;
  flex-direction: column;
  background-color: #3d3c3c;
  color: white;
  width: 100%;
  min-height: 100vh;
  align-items: center; 
}

.textContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px 0;
}

.textContainer button {
  position: absolute;
  left: 20px;
  background: transparent;
  color: white;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.textContainer h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.exerciseSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 350px;
  align-items: center;
}

.renderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
