.container {
  background-color: #3d3c3c;
  color: white;
  min-height: 100vh;
}

.textContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  padding: 30px 0;

  & button {
    position: absolute;
    left: 20px;
  }

  & h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
}

.exerciseSection {
  gap: 16px;
  max-width: 350px;
  width: 100%;
  text-align: center;
}

.renderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.backText {
  display: inline;
}

.backArrow {
  display: none;
}

@media (max-width: 645px) {
  .backText {
    display: none;
  }
  .backArrow {
    display: inline;
  }
}
