@import "../utils/variabels.css";

:root {
  --background: var(--color-white);
  --foreground: var(--color-dark-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: visible;
}
