.main {
  display: flex;
  position: relative;
  min-height: 70vh;
  height: 100%;
  background-image: url("/Landingpageback.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.welcomeBox {
  margin-top: 150px;
  padding: var(--padding-xlarge);
  z-index: 2;
}

.splash {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
}

.splash::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.splits {
  box-sizing: border-box;
  background-color: rgba(61, 60, 60, 0.5);
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding: var(--padding-xlarge);
  z-index: 2;
}
