.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popover {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}

.addButton {
  width: 100%;
  background-color: #679c41;
  font-size: 24px;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  height: 70px;
  cursor: pointer;

  &:hover {
    background-color: #558235;
  }
}
