.LogoutButton {
  background-color: #3d3c3c;
  color: white;
  border: none;
  width: 100%;
  min-width: 150px;
  min-height: 80px;
  cursor: pointer;
  font-size: 24px;

  &:hover {
    background-color: #575656;
  }
}
