.backText {
  display: inline;
}

.backArrow {
  display: none;
}

@media (max-width: 645px) {
  .backText {
    display: none;
  }
  .backArrow {
    display: inline;
  }
}

.button {
  background: transparent;
  color: var(--color-white);
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  padding: var(--padding-small) var(--padding-medium);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-gray-1);
  }
}
