.logItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 20px;

  & div {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.logCard {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-1);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
}

.logsList {
  padding-top: var(--padding-xlarge);
  display: flex;
  flex-direction: column;
  gap: var(--margin-medium);

  & h2 {
    padding: 0;
  }
}

.deleteBtn {
  background-color: var(--button-cancel-bg-color);
  font-size: 16px;
  color: var(--button-text-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: var(--button-cancel-hover-bg-color);
  }
}

.comment {
  margin-top: var(--margin-small);
  font-size: 20px;
  padding: 4px 10px;
  border: solid 1px var(--color-gray-2);
  border-radius: var(--border-radius);
}
