.logItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 18px;

  & div {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.logCard {
  display: flex;
  flex-direction: column;
  background-color: #575656;
  padding: 10px;
  border-radius: 5px;
}

.logsList {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  & h2 {
    padding: 0;
  }
}

.deleteBtn {
  background-color: #a83232;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #8b2828;
  }
}
