.LogoutButton {
  background-color: var(--color-gray-3);
  color: var(--color-white);
  border: none;
  width: 100%;
  min-width: 150px;
  min-height: 80px;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;

  &:hover {
    background-color: var(--color-gray-1);
  }
}
