.addButton {
  width: 100%;
  background-color: #679c41;
  font-size: 20px;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  height: 60px;
  cursor: pointer;
  &:hover {
    background-color: #558235;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popover {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  box-sizing: border-box;
}

.popover input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.setInputGroup {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.cancelButton {
  background-color: #a83232;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;

  &:hover {
    background-color: #8b2828;
  }
}
