.addButton {
  width: 100%;
  background-color: var(--button-bg-color);
  font-size: 20px;
  color: var(--button-text-color);
  padding: var(--padding-medium) var(--padding-large);
  border-radius: var(--border-radius);
  border: none;
  font-weight: bold;
  height: 60px;
  cursor: pointer;
  transition: background-color var(--transition-duration) ease;
  &:hover {
    background-color: var(--button-hover-bg-color);
  }
}

.addExerciseLogBtn {
  width: 100%;
  background-color: var(--button-bg-color);
  font-size: 18px;
  color: var(--button-text-color);
  padding: var(--padding-medium) var(--padding-large);
  border-radius: var(--border-radius);
  border: none;
  font-weight: bold;
  height: 56px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popover {
  background-color: var(--color-gray-3);
  padding: var(--padding-xlarge);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  box-sizing: border-box;
  & input {
    width: 100%;
    padding: var(--padding-small);
    margin-bottom: var(--margin-medium);
    border-radius: 4px;
    border: 1px solid var(--color-light-gray);
    box-sizing: border-box;
  }

  & label {
    color: var(--color-white);
  }
}

.setInputGroup {
  display: flex;
  gap: var(--margin-small);
  justify-content: space-evenly;
  align-items: center;

  & label {
    color: var(--color-white);
  }
}

.buttonGroup {
  display: flex;
  gap: var(--margin-small);
}

.popaddButton {
  background-color: var(--button-bg-color);
  font-size: 18px;
  color: var(--button-text-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: var(--button-hover-bg-color);
  }
}

.cancelButton {
  background-color: var(--button-cancel-bg-color);
  font-size: 18px;
  color: var(--button-text-color);
  border: none;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;

  &:hover {
    background-color: var(--button-cancel-hover-bg-color);
  }
}

.commentGroup {
  margin-bottom: var(--margin-medium);
  display: flex;
  flex-direction: column;

  & textarea {
    resize: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
}
