.LoginContainer {
  display: flex;
  height: 100vh;
  background-image: url("/gym.webp");
  background-size: cover;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
}

.Splash {
  width: 50%;
  display: flex;
  height: 100%;
  background-color: rgba(40, 35, 35, 0.7);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Logo {
  margin-top: 20px;
  width: 120px;   
  height: auto;
  align-self: center;
  opacity: 0.9;   
}