.container {
  background-color: var(--color-gray-3);
  color: var(--color-white);
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px var(--padding-large);

  & h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.textContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  padding: 30px 0;

  & button {
    position: absolute;
    left: var(--padding-xlarge);
  }

  & h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
}

.logsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin-bottom: var(--margin-xlarge);
}

.videoContainer {
  margin-top: var(--margin-xlarge);
  margin-bottom: var(--margin-xlarge);
  background-color: var(--color-gray-1);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;

  & iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: var(--border-radius);
  }

  & p {
    color: var(--color-white);
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: var(--margin-xlarge);
}

.leftButton, .rightButton  {
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--button-text-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-gray-1);
  }
}
.rightButton {
  margin-left: auto;
}
